build
*.so
*module.c
*.pyc
.*.swp
*.aux
*.log
*.lol
*.out
*.gz
*.toc
*.bbl
*.blg
dist
dadi.egg-info
examples/YRI_CEU/seedms
examples/YRI_CEU/test.msout
!examples/fs_from_data/example.vcf.gz
dadi/Triallele/*.c
dadi/TwoLocus/*.c
.vscode*
*.pyd
*~
tests/test.fs
