include MANIFEST.in
include LICENSE.txt
recursive-include dadi *.pyf *.pyx
recursive-include doc manual.pdf *.tex *.bib
recursive-include examples *
recursive-include tests *
global-exclude *.msout *.swp *.pyc seedms *.png *.bpkl *.npz *.so *.pyd
